/* top of this file are the styles uneffected by media queries */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "sofia-pro-soft",sans-serif;
  font-weight: lighter;
  box-sizing: border-box;
  font-size: 1em;
}

*, *:before, *:after {
  box-sizing: inherit;
}

p {
  margin: 0;
  padding: 5px 0;
}

a.no_decoration {
  text-decoration: none;
  color:inherit;
}

.menubar {
  width: 100%;
  position: fixed;
  background-color: #FFF;
  z-index: 2;
}

.menubar--logo {
  background-image: url(img/sas_logo.png);
  background-repeat: no-repeat;
  background-position: left top;
  background-size: contain;
  display: inline-block;
}

.menubar--mainnav {
  list-style: none;
  text-align: center;
  white-space: nowrap;
}

.menubar--mainnav li {
  display:inline-block;
}

.menubar--mainnav a {
  color: #787878;
  text-decoration: none;
}

.content {
  color: #FFF;  
  text-align: center;
}

.content-top {
  background-color: #98D2D7;
}

.content-bottom {
  background-color   : #79C3BF;
  background-image   : url("img/content-top-bg.png");
  background-repeat  : no-repeat;
  background-position: left top;  
  background-size    : 100%;
  padding-bottom     : 175px;
}


hr.content-divider {
  height          : 2px;
  border          : 0;
  background-color: #fff;
  color           : #fff;
}

.content-lineheight66px {
  line-height: 66px;
}

.img--divider {
  width: 100%;
  margin-bottom: -5px;
  background-color: #9CD2D7;
}

/* svg down arrow graphics */
.down_arrow {
  width: 115px;
  height: 115px;
}

.cls-1,.cls-2 {
    fill:none;
    stroke:#fff;
    stroke-miterlimit:10;
    stroke-width:3px;
}

.cls-2 {
  stroke-width:4px;
  stroke-linecap:round;
}

.spacer {
  height: 38px;
}


.content-searchbar {
  background-color: #22A09E;
  background-image:url("img/content-bottom-bg.png");
  background-repeat:no-repeat;
  background-position:left top;  
  background-size: 100%;
}

.localservices-search {
  -webkit-appearance: textfield;
  display: block;
  width: 100%;
  font-size: 50px;
  border-radius: 30px;
  border: none;
  background-color: #ABCFCF;
  color: #fff;
  text-align: center;
}

::-webkit-input-placeholder {
  color: white;
}



/* ------------------------------------------- */

/* below 380px wide styles */

.menubar-inner {
  padding: 28px 5% 20px 4%;
}

.menubar--mainnav {
  border-top: 2px solid #070;
  margin: 0;
  padding: 0;
}

.menubar--mainnav li {
  width: 27%;
  text-align: center;
}

.menubar--mainnav li:first-child {
  text-align: left;
  width: 21%;
}

.menubar--mainnav li:last-child {
  text-align: right;
  width: 20%;
}

.menubar--mainnav a {
  font-size: 3.2vw;
}

.menubar--logo {
  width: 35%;
  padding-top: 10%;
}

/* - */

.content-top {
  padding-top: 23%;
}

.content-top p {
  font-size: 6vw;
  margin-bottom: 19px;
}

.content-inner {
  margin: auto;
}

.content-inner-top {
  width     : 80%;
  margin-top: 130px;
}

hr.content-divider-top {
  margin: 36px 0 53px 0;
}

.content-xl {
  display      : block;
  font-size    : 11vw;
  line-height  : 15vw;
  margin-bottom: 10px;
}

.content-lg {
  font-size    : 8vw;
}

.content-lgp {
  font-size    : 10vw;
}

.content-inner-bottom {
  padding-top: 122px;
}

/* - */

.homepage_buttons {
  margin-top    : 75px;
  padding-bottom: 143px;
  margin-left   : 35px;
}

.button_container {
  text-align   : left;
  margin-bottom: 30px;
}

.button_container img {
  width : 65px;
  height: 65px;
  vertical-align: top;
}

.button_text {
  display    : inline-block;
  max-width  : 152px;
  max-width  : 53%;  
  font-size  : 6vw;
  margin-left: 10px
}

.homepage_buttons p {
  font-size: 4vw;
}

.content-searchbar {
  padding: 0 35px;
}

.localservices-search {
  height: 45px;
  font-size: 8vw;
}

/* ------------------------------------------- */

/* Small Devices, latest Phones */ 
@media only screen and (min-width : 380px) {
  .menubar-inner {
    padding-right: 5%;
  }

  .menubar--mainnav a {
    font-size: 3.5vw;
  }

  .menubar--mainnav li {
    width: 24%;
    text-align: right;
  }

  .menubar--mainnav li:first-child {
    width: 27%;
  }

  .menubar--mainnav li:last-child {
    width: 20%;
  }

  .button_text {
    max-width  : 66%;
  }

}

/* ------------------------------------------- */

/* Small Devices, Tablets Portrait */
@media only screen and (min-width : 768px) {

  .menubar-inner {
      padding-left: 10%;
      padding-right: 14%;
  }

  .menubar--logo {
    width: 27%;
    padding-top: 10%;
  }

  .menubar--mainnav li {
    text-align: left;
  }

  .menubar--mainnav li:first-child {
    width: 30%;
  }

  .menubar--mainnav a {
      font-size: 2.5vw;
  }

  .menubar--mainnav {
    padding-top: 15px;
  }

/*  .menubar--mainnav {
    display       : inline-block;
    margin-top    : 19px;
    margin-left   : 8%;
    border-top    : 0px;
    vertical-align: top;
  }
*/

  .content-inner-top {
    width: 64%;
    margin-top: 157px;
/*    max-width : 1117PX;*/
  }

  .content-top p {
      font-size: 3vw;
      margin-bottom: 19px;
  }

  .content-xl {
    font-size: 5.5vw;
    line-height: initial;
  }
  
  .content-unhelpful {
    font-size: 4.9vw;
  }
  
  .content-lg {
    font-size: 3.5vw;
  }

  .content-lgp {
    font-size: 4.5vw;
  }

  .content-inner-bottom {
    padding-top: 180px;
  }


  /* -- */

  .button_container {
    display: inline-block;
    min-width: 49%;
    vertical-align: top;
    text-align: center;
  }

  .homepage_buttons {
    margin: 75px auto 0 auto;
    width: 550px;
    padding-bottom: 25px;
  }

  .homepage_buttons p {
    font-size: 1.5vw;
  }
  .button_text {
    display   : block;
    max-width  : 45%;
    font-size  : 2vw;
    margin-top : 10px;
    margin-left: 28%;
    text-align : center;

  }

  .button_container img {
      width : 85px;
      height: 85px;
  }

  .localservices-search {
    font-size: 5vw;
    width    : 85%;
    margin   : auto;
  }

}

/* ------------------------------------------- */

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

  .menubar--mainnav {
    display       : inline-block;
    margin-top    : 19px;
    margin-left   : 10%;
    border-top    : 0px;
    vertical-align: top;
  }

  .menubar-inner {
      padding: 28px 5% 20px 4%;
  }

  .menubar--logo {
    padding-top : 5%;
    width       : 16%;
  }

  .menubar--mainnav li {
    width      : 46%;
    text-align : center;
  }

  .menubar--mainnav a {
    font-size : 1.68vw;
  }

  /* - */

  .content {
    font-size  : 51px;
  }

  .content-top {
    padding-top: 1%;
  }

  .content-inner-top {
    margin-top: 180px;
    max-width : 735PX;
  }

  .content-inner {

  }

  .content-top p {
    margin-bottom: 22px;
    font-size    : 1.9vw;
  }

  hr.content-divider-top {
    margin: 35px 0 39px 0;
  }

  .content-xl {
    font-size: 3vw;
  }

  .content-lg {
    display: none;
  }

  .content-unhelpful {
    font-size  : 3vw;
    margin-left: -38px;
  }


  .content-inner-bottom {
    padding-top: 292px;
  }


  /* - */

  .homepage_buttons {
    margin-top    : 78px;
    margin-left   : 5%;
    width         : 90%;
    padding-bottom: 140PX;
  }

  .button_container {
    display      : inline-block;
    margin-bottom: 30px;
    height       : 141px;
    width        : 31%;
    min-width    : initial;
    text-align   : left;
  }

  .homepage_buttons p {
      font-size: 1vw;
  }

  .button_container img {
    width : 97px;
    height: 97px;
  }

  .button_text {
    display    : inline-block;
    top        : -53px;
    font-size  : 1.5vw;
    margin-left: 15px;
    height     : 150px;
    max-width  : 56%;
    text-align : left;
  }

  .localservices-search {
      font-size: 4vw;
      width : 85%;
      height: 50px;
      margin: auto;
  }

  .content-searchbar .spacer {
    height: 80px;
  }

.content-searchbar {
  padding: 0 110px;
}

}

/* ------------------------------------------- */

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1700px) {

  .menubar--logo {
    width: 15%;
    padding-top: 4%;
  }

  .menubar--mainnav {
    margin-left: 8%;
  }

  .menubar--mainnav li {
    width: 41%;
  }

  .menubar--mainnav a {
    font-size: 1.68vw;
  }

  .localservices-search {
      font-size: 3vw;
      height: 75px;
  }

}

/* -------------m a p   s t u f f ----------------- */

#map {
  padding-top: 125px;
  height: 100%;
  margin-left: 38%;
}

.map_leftCol {
  position: absolute;
  width: 38%;
  height: 88.6%;
  margin-top: 108px;
  background-color: #96D2D7;
  overflow-y: auto; 
}

.map_leftCol .localservices-search {
    background-color: #BCE1E1;
    font-size: 2vw;
}


.service_details {
  color: #fff;
  margin: 0 9%;
  transition: opacity 0.5s ease;
}

.service_details .service_details__website a {
  color: #fff;
}

.service_details .service_details__name {
  font-size: 2vw;
  text-decoration: underline;
}

.service_details .service_details__header {
  font-size: 1.4vw;
  text-decoration: underline; 
}

#js_service_details__header {
  display: none;
}

.service_details .service_details__overview {
  font-weight: 100
}

/* -- search stuff -- */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }

.search_results {
  display: none;
  margin: 0 9%;
}

.search_results a {
  color: #fff;
  font-size: 1.5vw;
  text-decoration: none;
}

.search_results a:hover {
  text-decoration: underline;
}
